{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<link rel="shortcut icon" href="{% static 'home/favicon.ico' %}"/>

<head>
  <title>EIF - About Us</title>
</head>

<div class="content">
    <div class="side">
            <ul>
                <li><a href="{% url 'home:About' %}"><div id="portrait"></div></a></li>
                <li><a href="{% url 'home:index' %}">HOME</a></li>
                <li><a href="{% url 'home:InvestmentGuide' %}">INVESTMENT GUIDE</a></li>
                <li><a href="{% url 'WalletJournal:My Full Investment' %}">MY INVESTMENT</a></li>
                <li><a href="{% url 'WalletJournal:index' %}">MY TRANSACTIONS</a></li>
                <li><a href="https://login.eveonline.com/oauth/authorize/?response_type=code&redirect_uri=http://www.eveinvestmentfund.xyz/WalletJournal/oauth.html&client_id=d9bc2f9e37f3450e8318fe440fdd2302&scope=&state={{ request.session.session_key }}"><div id="EveLogin"></div></a></li>
                <li><a href="{% url 'home:About' %}">BUSINESS PLAN</a></li>
            </ul>
    </div>
    <h1>EVE Investment Fund</h1>    
    <div class="box">
        <h3>What good is your ISK if it just sits in your wallet doing nothing ?</h3>
        <center><p>Eve Investment Fund offers you to <u>invest your ISK and receive a weekly 5% interest (more than 20% monthly) !</u> Go ahead and read our <a href="{% url 'home:InvestmentGuide' %}"><u><font color=blue>INVESTMENT GUIDE</font></u></a> and our BUSINESS PLAN here below...</p></center><br>
    </div><br><br>
    <div class="box">
        <h4>EIF BUSINESS PLAN</h4>
        <p>Dear Investors,</p><br>
        <p>As you all know (if you don’t, <u>trust us at least this one time</u>), we get called out for being a scam, a Ponzi scheme, and other cute/fancy names about a billion times a day ! While we understand the suspicion and mistrust because <u>“This is Eve after all”™</u>, we want to do our best to provide our investors with a clear view of what we’re doing and where we’re heading.</p><br><br>
        <p><u>So let’s start with some facts :</u></p><br>
        <p>EIF is a group of three (long-time IRL friends) Eve players who, like most of you, each have (quite a few) accounts to plex + ingame activites that require ISK. While this is no trouble, it uses up most of our monthly profits and we would rather build our capital than break even each month… This is where <u>you</u> come into play : we decided to allow investors in and grant them a share of our profits in order to build our capital faster while earning them a nice return on their investment ! </p><br><br>
        <p><u>Now with some numbers :</u></p><br>
        <p>EIF’s current net worth is valued somewhere around 250B total (ISK + assets). Judging from past activity and market analysis, we know we can conservatively double our current volume while still maintaining our current ROI, and our goal is therefore to collect 250-300B before we stop allowing new investors in. This will enable us to build our own capital faster, and hopefully to build long term relationships with our investors !</p><br><br>
        <p>As far as our actual business is concerned, EIF basically does station/region trading and heavy industry. The trading operation being in charge of supplying raw materials, selling produced goods and moving stuff around (to facilitate indy operations), while still generating ISK on its’ own thanks to efficient station/region trading all across New Eden. </p><br>
        <p><u>EIF does its best to provide as much transparency as possible</u> (for instance with the current business plan, the weekly reports, and our ingame communication), while making sure that it does not have a negative impact on our actual activities (which is why we cannot reveal our mains’ identities). We know some of you will still be suspicious and call us out, but we sincerely hope that this article helped you get a better idea of what EIF does and what it is about. </p><br><br>
        <p>Looking forward to doing business with you !<br><br>o7</p><br>
        <div class="credits">By EIF...</div>
    </div>
    <h2>EIF</h2>
</div>



