{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
<link rel="shortcut icon" href="{% static 'home/favicon.ico' %}"/>

<head>
  <title>EIF - Investment Guide</title>
</head>

<div class="content">
    <div class="side">
            <ul>
                <li><a href="{% url 'home:About' %}"><div id="portrait"></div></a></li>
                <li><a href="{% url 'home:index' %}">HOME</a></li>
                <li><a href="{% url 'home:InvestmentGuide' %}">INVESTMENT GUIDE</a></li>
                <li><a href="{% url 'WalletJournal:My Full Investment' %}">MY INVESTMENT</a></li>
                <li><a href="{% url 'WalletJournal:index' %}">MY TRANSACTIONS</a></li>
                <li><a href="https://login.eveonline.com/oauth/authorize/?response_type=code&redirect_uri=http://www.eveinvestmentfund.xyz/WalletJournal/oauth.html&client_id=d9bc2f9e37f3450e8318fe440fdd2302&scope=&state={{ request.session.session_key }}"><div id="EveLogin"></div></a></li>
                <li><a href="{% url 'home:About' %}">BUSINESS PLAN</a></li>
            </ul>
    </div>
    <h1>EVE Investment Fund</h1>    
    <div class="box">
        <h4>EIF INVESTMENT GUIDE</h4>

        <p>The current website is a platform meant for you to check on your investment. You just have to use the "Login with EvE" button on the left to be redirected to your transaction history with EIF :</p><br>

        <div class="disclaimer"><p>The "Log in with EvE" button allows you to log you in on EvE Online's website and chose which character's transaction history you want to see.
        EIF only retrieves the selected character name in order to check it against the EIF API and retrieve your transactions. EIF requires ABSOLUTELY NO ACCESS TO YOUR ACCOUNT OR DATA when you use the login button (public data only).</p></div><br>

        </div><br><br><div class="box">
        <h4>How do I invest ?</h4>

        <p>THE MINIMUM INVESTMENT IS 20M ISK (no maximum investment, please contact EIF beforehand for investments > 50B). Investments less than 20M will not be registered and you will need to ask "EIF SpokesPerson" for a refund.</p><br> 
        <p>To invest, you just need to send your desired investment amount to "EIF SpokesPerson" (search for "EIF SpokesPerson" ingame, right-click and use the "Give Money" button). Give the API 30 minutes and you should be able to see your investment on the website.</p><br>

        <div class="disclaimer"><p>Your investment should only ever be sent to "EIF SpokesPerson", as you will NEVER be required to send your investment to anyone else than "EIF SpokesPerson". Please be wary of imposters and scammers, thank you.</p></div>

        <h4>When do I get paid ?</h4>

        <p>Your 5% interest will be paid on Sunday each week, most likely during the afternoon (EveTime).</p>

        <h4>How can I withdraw my investment ?</h4>

        <p>THE MINIMUM DURATION FOR REGULAR INVESTMENTS IS TWO FULL WEEKS, AND FOUR FULL WEEKS FOR INVESTMENTS > 20B. This rule is meant to prevent any abuse, like investing on Saturday to withdraw on the next Monday... and also to allow us to actually invest the money and get some return before investors can withdraw. Please be aware that adding on to your investment renews the 2-week minimum period.</p><br>
        <p>Set aside the above rules, you can withdraw your investment, in part or in full, at any time, by simply sending a message asking for withdrawal (and stating the amount to withdraw) to "EIF SpokesPerson". Your withdrawal should be processed in less than 48 hours (or on Sunday during week-ends).</p>    
        
        <h4>Can I add on to my investment or reinvest my interest ?</h4>

        <p>Yes you can ! You just have to send ISK to EIF SpokesPerson, and the amount sent will automatically be added to your current investment (there is no minimum addon value to allow even the smallest of investors to reinvest their interest if they want to).</p>

        <h4>How does EIF invest my ISK ?</h4>

        <p>While we cannot fully disclose the techniques used to achieve such performances on New Eden's markets, EIF will trade and build anything that is profitable, anywhere in New Eden... If you wish to learn more please read our <a href="{% url 'home:About' %}"><u><font color=blue>BUSINESS PLAN</font></u></a>.</p><br><br>

        <h4>Is this a ponzi scheme ?</h4>

        <p>Even though some people might find it (very) hard to believe, we are actually a legit business and we no have plans to run out with the ISK at any point. <u>We will stop allowing new investors in when the total investment is large enough</u> (i.e. when we don't have further opportunities available to invest the ISK)... Our endgoal in terms of total investment is yet to be determined, but our current estimates hover around 250-300B (being pretty conservative, please read our <a href="{% url 'home:About' %}"><u><font color=blue>BUSINESS PLAN</font></u></a> to learn more).</p>

        <h4>Why the large bounties on EIF characters ?</h4>

        <p>The bounties on our heads were put there by a character running another investment fund (The Fukuzawa). We cannot tell if he is legit or not but it looks like he's trying to put people off and keep investors for himself by discrediting us.</p>

        <h4>Why are EIF characters so young and in NPC Corp ?</h4>

        <p>You might wonder why our characters are so young when this website states that EIF's members have been in Eve Online since 2008. The reason for this is that disclosing the identity of EIF's members could hurt their ingame activities (griefers, gankers, etc...), which led them to decide and create new public-facing characters for this investment venture.</p><br><br>

        <!--
        </div><br><br><div class="box">
        <h4>Refferal program</h4>

        <p>To earn a refferal, you need a first-time investor to type your name in the comment box when he makes his first investment. The process is automated to make it easier for us, <u>so please follow these rules or your refferal won't be correctly processed :</u></p><br><br>
        <p><div class="indented"><div class="disclaimer">
        -TYPE THE CHARACTER'S NAME AND NOTHING ELSE<br>
        -USE CORRECT SPELLING<br>
        -USE CORRECT CAPITALISATION (case-sensitive)<br><br></div></div></p>
        <p>Your 1st and 5th refferal will earn you a bonus interest payment <u>(limited to the amount invested by the refferer and to a max. amount of 25M).</u> Below is an example that should clarify things (if you still have questions about the refferal program, join our ingame chat or contact "EIF SpokesPerson") :</p><br><br>

        <div class="indented"><p><u>Derpity Derp has 450M invested at EIF.</u><br><br>

        Player 1 invests 100M with "Derpity Derp" as the reason/comment (1st ref).<br>
        <u>Derpity Derp earns a 22.5M interest payment.</u><br><br>

        Derpity Derp adds on 50M to his investment, making it 500M.<br>
        Player 2 invests 100M with "Derpity Derp" as the reason/comment (2nd ref).<br>
        ...<br>
        Player 5 invests 25M with "Derpity Derp" as the reason/comment (5th ref).<br>
        <u>Derpity Derp earns a 25M interest payment.</u></p></div><br><br>

        <p>We sure hope that you guys make the most out of this new refferal program, and remember to <u>join us in the "Eve Investment Fund" ingame channel</u>.<br><br>

        Fly safe capsuleers ! o7</p><br>

        <div class="credits">By EIF...</div>
        -->
    </div>
    <h2>EIF</h2>
</div>



